<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="roles_show">
    <section class="project-area section-gap" id="project">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <tr th:each="role: ${allRoles}">
                    <td th:text="${role.roleId}"></td>
                    <td th:text="${role.roleName}"></td>
                    <br/>
                </tr>
            </div>
        </div>
    </section>
</div>
<div th:fragment="users_show">
    <section class="project-area section-gap" id="project2">
        <div class="container">
            <div class="row d-flex justify-content-center">
                Your ID: <p th:text="${userId}"></p>
                <br/>
                <a href="/admin/users/create">Create new user</a><br/>
                <table>
                    <tr th:each="user: ${allUsers}">
                        <td th:text="${user.userId}"></td>
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.enabled}"></td>
                        <td><a th:href="@{'/admin/users/'+${user.userId}}">Деталі</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</div>
<div th:fragment="create_new_user">
    <section class="project-area section-gap" id="project3">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <table>
                    <tr>
                        <td>UserName:</td>
                        <td><input id="user" name="user" type="text"/></td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Passwd:</td>
                        <td><input id="pwd" name="pwd" type="password"/></td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button onclick="submitRegistrationForm()">Create</button>
                        </td>
                        <td>*</td>
                    </tr>
                </table>
                <div class="information"></div>
            </div>
        </div>
    </section>
</div>
<div th:fragment="users_detail">
    <section class="project-area section-gap" id="project4">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <table>
                    <table class="blueTable">
                        <tfoot>
                        <tr>
                            <td colspan="3">

                                <div class="links">
                                    <div th:if="${user.userId}==1">
                                        <a href="1">&laquo;</a> <a class="active" href="#">Оновити</a> <a href="#">Зберігти</a>
                                        <a th:href="${user.userId}+1">&raquo;</a>
                                    </div>
                                    <!-- ELSE -->
                                    <div th:unless="${user.userId}==1">
                                        <a th:href="${user.userId}-1">&laquo;</a> <a class="active" href="#">Оновити</a>
                                        <a href="#">Зберігти</a> <a th:href="${user.userId}+1">&raquo;</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>User ID:</td>
                            <td id="userId" th:text="${user.userId}"></td>
                            <td th:text="${user.userId}"></td>
                        </tr>
                        <tr>
                            <td>Login</td>
                            <td th:text="${user.userName}"></td>
                            <td><input type="text"/></td>
                        </tr>
                        <tr>
                            <td>PWD</td>
                            <td>********</td>
                            <td><input type="text"/></td>
                        </tr>
                        <tr>
                            <td>TSC</td>
                            <td th:text="${user.location.tscNumber}"></td>
                            <td>
                                <select id='location' name='location'>
                                    <option th:each="loc : ${locations}" th:value="${loc.id}"
                                            th:text=" 'ТСЦ  № ' + (${loc.tscNumber}) + ' МВС' "></option>
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Roles</td>
                            <td>

                                <table>
                                    <tr th:each="userRole: ${userRoles}">
                                        <td th:text="${userRole}"></td>
                                    </tr>
                                    <tr>
                                        <td class="u_roles"></td>
                                    </tr>
                                </table>

                            </td>
                            <td>
                                <table border="0">
                                    <tr>
                                        <td>
                                            <select id='roles' name='roles'>
                                                <option th:each="role : ${roles}" th:value="${role.roleId}"
                                                        th:text="${role.roleName}"></option>
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="linkButton">
                                                <a href="#" onclick="addRoleToUser()">Додати роль</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>