<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="roles_show">
    <section class="project-area section-gap" id="project">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <tr th:each="role: ${allRoles}">
                    <td th:text="${role.roleId}"></td>
                    <td th:text="${role.roleName}"></td>
                    <br/>
                </tr>
            </div>
        </div>
    </section>
</div>
<div th:fragment="users_show">
    <section class="project-area section-gap" id="project2">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <table class="blueTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>User name</th>
                        <th>isEnabled</th>
                        <th>Detail</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td>
                            <div class="links">
                                <a class="active" href="/admin/users/create">Створити нового</a>
                            </div>
                        </td>
                        <td colspan="3">
                            <div class="links" th:with="varName=${'&size=10&sort=userName'}">
                                <div th:if="${allUsers.number}== 0">
                                    <a th:href="@{'/admin/users?page=' + ${allUsers.number} + ${varName} }">&laquo;</a>
                                    <a class="active" th:href="@{'/admin/users?page=0' + ${varName}} ">1</a>
                                    <a th:href="@{'/admin/users?page=' + ${allUsers.totalPages - 1} + ${varName}} "
                                       th:text="${allUsers.totalPages}"></a>
                                    <a th:href="@{'/admin/users?page=' + ${allUsers.number + 1} + ${varName}}">&raquo;</a>
                                </div>
                                <div th:if="0 < ${allUsers.number} and ${allUsers.number} < ${allUsers.totalPages}">
                                    <a th:href="@{'/admin/users?page=' + ${allUsers.number - 1} + ${varName}}">&laquo;</a>
                                    <a class="active" th:href="@{'/admin/users?page=0' + ${varName}} ">1</a>
                                    <a th:href="@{'/admin/users?page=' + ${allUsers.totalPages - 1} + ${varName}} "
                                       th:text="${allUsers.totalPages}"></a>
                                    <a th:href="@{'/admin/users?page=' + ${allUsers.number + 1} + ${varName}}">&raquo;</a>
                                </div>
                                <div th:if="${allUsers.number} == ${allUsers.totalPages}">
                                    <a th:href="@{'/admin/users?page=' + ${allUsers.number - 1} + ${varName}}">&laquo;</a>
                                    <a class="active" th:href="@{'/admin/users?page=0' + ${varName}} ">1</a>
                                    <a th:href="@{'/admin/users?page=' + ${allUsers.totalPages - 1} + ${varName}} "
                                       th:text="${allUsers.totalPages}"></a>
                                    <a th:href="@{'/admin/users?page=' + ${allUsers.number} + ${varName}}">&raquo;</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="user: ${allUsers.content}">
                        <td th:text="${user.userId}"></td>
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.enabled}"></td>
                        <td><a th:href="@{'/admin/users/'+${user.userId}}">Деталі</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<div th:fragment="create_new_user">
    <section class="project-area section-gap" id="project3">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <table>
                    <tr>
                        <td>UserName:</td>
                        <td><input id="user" name="user" type="text"/></td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>Passwd:</td>
                        <td><input id="pwd" name="pwd" type="password"/></td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button onclick="submitRegistrationForm()">Create</button>
                        </td>
                        <td>*</td>
                    </tr>
                </table>
                <div class="information"></div>
            </div>
        </div>
    </section>
</div>
<div th:fragment="users_detail">
    <section class="project-area section-gap" id="project4">
        <div class="container">
            <div class="row d-flex justify-content-center">

                <table class="blueTable">
                    <tfoot>
                    <tr>
                        <td colspan="3">

                            <div class="links">
                                <div th:if="${user.userId}==1">
                                    <a href="1">&laquo;</a> <a class="active" href="#">Оновити</a> <a
                                        href="#">Зберегти</a>
                                    <a th:href="${user.userId}+1">&raquo;</a>
                                </div>
                                <!-- ELSE -->
                                <div th:unless="${user.userId}==1">
                                    <a th:href="${user.userId}-1">&laquo;</a> <a class="active" href="#">Оновити</a>
                                    <a href="#">Зберегти</a> <a th:href="${user.userId}+1">&raquo;</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr>
                        <td>User ID:</td>
                        <td id="userId" th:text="${user.userId}"></td>
                        <td th:text="${user.userId}"></td>
                    </tr>
                    <tr>
                        <td>Login</td>
                        <td th:text="${user.userName}"></td>
                        <td><input type="text"/></td>
                    </tr>
                    <tr>
                        <td>PWD</td>
                        <td>********</td>
                        <td><input type="text"/></td>
                    </tr>
                    <tr>
                        <td>TSC</td>
                        <td th:if="${user.location!=null}" th:text="${user.location.tscNumber}"></td>
                        <td th:if="${user.location==null}"></td>
                        <td>
                            <select id='location' name='location'>
                                <option th:each="loc : ${locations}" th:value="${loc.id}"
                                        th:text=" 'ТСЦ  № ' + (${loc.tscNumber}) + ' МВС' "></option>
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Roles</td>
                        <td>

                            <table>
                                <tr th:if="${user.roles}!=null" th:each="userRole: ${user.roles}">
                                    <td th:text="${userRole.roleName}"></td>
                                    <td>
                                        <div class="linkButton">
                                            <a href="#"
                                               th:onclick="'deleteRoleFromUser('+${user.userId}+','+${userRole.roleId}+');'">видалити</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="u_roles"></td>
                                </tr>
                            </table>

                        </td>
                        <td>
                            <table border="0">
                                <tr>
                                    <td>
                                        <select id='roles' name='roles'>
                                            <option th:each="role : ${roles}" th:value="${role.roleId}"
                                                    th:text="${role.roleName}"></option>
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="linkButton">
                                            <a href="#" onclick="addRoleToUser()">Додати роль</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>