<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="create_new_client">
    <section class="project-area section-gap" id="project">
        <div class="container">
            <div class="row d-flex justify-content-center">

                <table>
                    <tr>
                        <td>Прізвище:</td>
                        <td><input type='text' id='lastName' name='lastName' value='' maxlength="48"></td>
                    </tr>
                    <tr>
                        <td>Ім'я:</td>
                        <td><input type='text' id='firstName' name='firstName' value='' maxlength="48"></td>
                    </tr>
                    <tr>
                        <td>По батькові:</td>
                        <td><input type='text' id='middleName' name='middleName' value='' maxlength="48"></td>
                    </tr>
                    <tr>
                        <td>Дія:</td>
                        <td><select id='action' name='action'>
                            <option th:each="state : ${T(ua.pp.darknsoft.models.Action).values()}" th:value="${state}"
                                    th:text="${state.displayName}"></option>
                            </option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>№ ТСЦ:</td>
                        <td>
                            <select id='location' name='location'>
                                <option th:each="loc : ${locations}" th:value="${loc.id}"
                                        th:text= " 'ТСЦ  № ' + (${loc.tscNumber}) + ' МВС' "></option>
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Час та Дата:</td>
                        <td><input type='text' id='meeting' name='meeting' value='' onclick="openPopUp()"></td>
                    </tr>

                    <tr>
                        <td>
                            <button onclick="submitClientObj()">Створити</button>
                        </td>
                    </tr>
                </table>
                <div class="client_create_info"></div>
            </div>
        </div>
    </section>
    <div class="b-popup" id="popup1">
        <div class="b-popup-content" id="setloc_popup">
            <!--<button onclick="closePopUp()">CLOSE</button>-->
            <div th:replace="fragments/client_bodies :: show_popup_calendar">

            </div>
        </div>
    </div>
</div>
<div th:fragment="show_all_clients">
    <section class="project-area section-gap" id="project2">
        <div class="container">
            <div th:fragment="show_popup_calendar">
                <table>
                    <tr>
                        <td>
                            <div id="datepicker"></div>
                            <div>
                                <button onclick="closePopUp()">Відміна</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button onclick="calendarClick()">Пошук</button>
                            </div>
                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="information">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

</div>
</body>
</html>