div.information {
    padding-left: 20px;
}

td {
    vertical-align: top;
}

.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: scroll;
    position: fixed;
    top: 0px;
}

.b-popup .b-popup-content {
    margin: 100px 1000px 0px auto;
    width: 640px;
    height: 640px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.ch-time {
    width: 200px;
}

.ch-time.green {
    width: 200px;
    background-color: #009e0f;
}