<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Preliminary-queue</title>
    <!-- CSS ============================================= -->
    <link rel="stylesheet" th:href="@{css/linearicons.css}">
    <link rel="stylesheet" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{css/jquery.DonutWidget.min.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>
<!-- Start Header Area -->

<div th:replace="fragments/headers :: ${#authorization.expression('isAuthenticated()')} ? 'header_auth' : 'header_no_auth'">

</div>
<div th:replace="fragments/bodies :: ${#authorization.expression('isAuthenticated()')} ? 'body_auth' : 'body_no_auth'">


</div>
</body>
</html>